
  .calc {
    width: 260px;
    background: #222;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
}
.display {
    width: 100%;
    height: 80px;
    background: #000;
    color: #0f0;
    font-size: 28px;
    text-align: right;
    padding-right: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
}
  .buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
